<h1><%= @people.name %></h1>

Date of birth:<p><%= @people.date_of_birth %></p>



<ul>
  <li><%= link_to "Edit", edit_person_path(@people) %></li>
  <li><%= link_to "Destroy", person_path(@people), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
